.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 4.2rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.05s ease-in-out;
    padding: 1.2rem;
    border-radius: 1rem;
}

.menuLink svg {
    width: 3rem;
    height: 3rem;
}

.menuLink:hover {
    filter: brightness(80%);
}